# exclude environment.ts with the personal API key
alarmDisplayApp/src/environments/environment.ts

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

# Atom Editor
*.cson

# vi Editor
*.swp

# PyCharm
.idea/

# maven
!.mvn/wrapper/maven-wrapper.jar
!maven-wrapper.jar