<div>
    <h2>
        <span jhiTranslate="dataCenterApp.commonInfo.home.title">Common Infos</span>
        <button class="btn btn-primary float-right jh-create-entity create-common-info" [routerLink]="['/', { outlets: { popup: ['common-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dataCenterApp.commonInfo.home.createLabel">
            Create new Common Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commonInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.title">Title</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.description">Description</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.showStartDate">Show Start Date</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.showEndDate">Show End Date</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevant">Alarm Relevant</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevantStartDate">Alarm Relevant Start Date</span></th>
            <th><span jhiTranslate="dataCenterApp.commonInfo.alarmRelevantEndDate">Alarm Relevant End Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commonInfo of commonInfos ;trackBy: trackId">
                <td><a [routerLink]="['../common-info', commonInfo.id ]">{{commonInfo.id}}</a></td>
                <td>{{commonInfo.title}}</td>
                <td>{{commonInfo.description}}</td>
                <td>{{commonInfo.showStartDate | date:'mediumDate'}}</td>
                <td>{{commonInfo.showEndDate | date:'mediumDate'}}</td>
                <td>{{commonInfo.alarmRelevant}}</td>
                <td>{{commonInfo.alarmRelevantStartDate | date:'mediumDate'}}</td>
                <td>{{commonInfo.alarmRelevantEndDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../common-info', commonInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'common-info/'+ commonInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'common-info/'+ commonInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
