<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAlarmInfoLabel" jhiTranslate="dataCenterApp.alarmInfo.home.createOrEditLabel">Create or edit a Alarm Info</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alarmInfo.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alarmInfo.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="alarmInfo.time"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                [(ngModel)]="alarmInfo.location" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.geoposition" for="field_geoposition">Geoposition</label>
            <input type="text" class="form-control" name="geoposition" id="field_geoposition"
                [(ngModel)]="alarmInfo.geoposition" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.keywords" for="field_keywords">Keywords</label>
            <input type="text" class="form-control" name="keywords" id="field_keywords"
                [(ngModel)]="alarmInfo.keywords" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="alarmInfo.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dataCenterApp.alarmInfo.priority" for="field_priority">Priority</label>
            <input type="number" class="form-control" name="priority" id="field_priority"
                [(ngModel)]="alarmInfo.priority" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
